In [1]:
import pandas as pd

In [2]:
data = [0.5, None, None, 0.52, 0.54, None, None, 0.59, 0.6, None, 0.7]

In [3]:
s = pd.Series(data)
s

0     0.50
1      NaN
2      NaN
3     0.52
4     0.54
5      NaN
6      NaN
7     0.59
8     0.60
9      NaN
10    0.70
dtype: float64

In [4]:
s.fillna(0)

0     0.50
1     0.00
2     0.00
3     0.52
4     0.54
5     0.00
6     0.00
7     0.59
8     0.60
9     0.00
10    0.70
dtype: float64

In [5]:
s.fillna(method = 'ffill')

0     0.50
1     0.50
2     0.50
3     0.52
4     0.54
5     0.54
6     0.54
7     0.59
8     0.60
9     0.60
10    0.70
dtype: float64

Método `ffill` no `fillna` analisa os valores Not a Number (NaN) se o valor anterior é válido, ele copia para os locais onde o NaN aparecem até a próxima ocorrência de um valor válido, repetindo o mesmo processo para todos os NaN da sequência.

In [6]:
s.fillna(method = 'bfill')

0     0.50
1     0.52
2     0.52
3     0.52
4     0.54
5     0.59
6     0.59
7     0.59
8     0.60
9     0.70
10    0.70
dtype: float64

Já o método `bfill` faz o mesmo que o `ffill` só que ao contrário, pegando os valores válidos **após** o NaN e preenchendo.

In [7]:
s.fillna(s.mean())

0     0.500
1     0.575
2     0.575
3     0.520
4     0.540
5     0.575
6     0.575
7     0.590
8     0.600
9     0.575
10    0.700
dtype: float64

Uma metodologia de interpolação é preencher os valores NaN com a média de todos os outros valores válidos, basta passar como argumento do `fillna` a média da Series

In [8]:
s

0     0.50
1      NaN
2      NaN
3     0.52
4     0.54
5      NaN
6      NaN
7     0.59
8     0.60
9      NaN
10    0.70
dtype: float64

In [12]:
s1 = s.fillna(method = 'ffill', limit = 1)
s1

0     0.50
1     0.50
2      NaN
3     0.52
4     0.54
5     0.54
6      NaN
7     0.59
8     0.60
9     0.60
10    0.70
dtype: float64

O parâmetro `limit` estabelece um limite de quantas vezes a método `ffill`, por exemplo, irá repetir o valor anterior a ocorrência de NaN.

In [13]:
s1.fillna(method = 'bfill', limit = 1)

0     0.50
1     0.50
2     0.52
3     0.52
4     0.54
5     0.54
6     0.59
7     0.59
8     0.60
9     0.60
10    0.70
dtype: float64

### Exercício

In [14]:
atletas = pd.DataFrame([['Marcos', 9.62], ['Pedro', None], ['João', 9.69], 
                        ['Beto', 9.72], ['Sandro', None], ['Denis', 9.69], 
                        ['Ary', None], ['Carlos', 9.74]], 
                        columns = ['Corredor', 'Melhor Tempo'])
atletas

  Corredor  Melhor Tempo
0   Marcos          9.62
1    Pedro           NaN
2     João          9.69
3     Beto          9.72
4   Sandro           NaN
5    Denis          9.69
6      Ary           NaN
7   Carlos          9.74